page {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
view {
  box-sizing: border-box;
}

// 垂直居中
.cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// 水平居中
.ch {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
// 垂直居中
.ca {
  display: flex;
  align-items: center;
}
// 水平居中
.cj {
  display: flex;
  justify-content: center;
}
// 文字超出隐藏
.ellipsis-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 分割边框线
.line {
  border: 1rpx solid #cfcfcf;
}
.mb10 {
  margin-bottom: 10rpx;
}

.mr10 {
  margin-right: 10rpx;
}
.scroll {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.scroll::-webkit-scrollbar {
  display: none;
}

// 价格icon
.priceIcon {
  font-size: $fontP20;
  color: $themeTextColor-3;
}
page :root {
  --nut-toast-inner-padding: 20rpx;
  --nut-toast-inner-border-radius: 10rpx;
}

// 粘性布局样式
.nutSticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}
