//主题颜色
$themesColorOwner: #ff6711;
$viceThemesColor: #ffbf25;
$themeTextColor-1: #222222;
$themeTextColor-2: #666666;
$themeTextColor-3: #999999;
$themeBackGroundColor: #f8f8f8;

// 文字大小
$fontP20: 20rpx;
$font22: 22rpx;
$font24: 24rpx;
$font26: 26rpx;
$font28: 28rpx;
$font34: 34rpx;
$font48: 48rpx;
$fontP30: 30rpx;
$fontP36: 36rpx;
$fontP40: 40rpx;
$fontP68: 68rpx;
